<!DOCTYPE html>
<meta charset="utf-8">
<html ng-app="traceApp">
<head>
  <title>Efficiency: <%=Name%></title>

  <script src="../angular.min.js"></script>


  <script src="../script.js"></script>


  




  <link type="text/css" href="../trace.css" rel="stylesheet" />
</head>
<body>

  <input type="hidden" id="GroupName" value="<%=Name%>">



  <div id="content">
    <svg id="chart_placeholder" />


  </div>


  <script type="text/javascript" src="../d3.js"></script>

  <script type="text/javascript" src="../cie.js"></script>

  <script type="text/javascript" src="../efficiency.js"></script>


</body>
</html>
